# no stow directory path files
zsh/.config/zsh/plugins
zsh/.config/zsh/.zcompdump
nvim/.config/nvim/autoload
nvim/.config/nvim/themes/colorthemes/*

tmux/plugins
configstore
gh
neofetch
.zsh_history
.zsh_sessions
zsh/plugins
zsh/.zcompdump
terminfo

